vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle
git/gitconfig.symlink
vimperator/vimperator.symlink/info/default/history-*
vimperator/vimperator.symlink/info/default/local-marks
vimperator/vimperator.symlink/info/default/macros
vim/vim.symlink/doc/tags

